<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-family-expense tracker</title>
</head>
<body>
    <h1>Family-expense-tracker</h1>
</body>
</html>